<aside class="main-aside">

    <div class="main-aside__title">
      Chat
      <span class="main-aside__borrar" (click)="onBorrar()">🗑</span>
    </div>

    <div class="main-aside__mensajes">

      <div class="main-aside__mensaje" *ngFor="let mensaje of mensajes">
        ({{ mensaje.hora }}) ({{ mensaje.usuario }}) : {{ mensaje.mensaje }}
      </div>

      <!-- <div class="main-aside__mensaje">10:00 (Ana): Hola</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:00 (Ana): Hola</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:00 (Ana): Hola</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div> -->

    </div>

    <div class="main-aside__submit">

      <div class="main-aside__submit-form">

        <label for="mensaje"></label>
        <input #mensajeInput type="text" id="mensaje" name="id" (keyup)="onEnviarMensaje($event, mensajeInput)">

        <button (click)="onMensaje(mensajeInput)">Enviar</button> 

      </div>
      
    </div>

  </aside>
